{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.darwin.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ range $name, $app := .apps -}}
{{ if and $app.cask (not (and (index $app "workOnly") (index $ "personal"))) -}}
cask {{ $app.cask | quote }}
{{ end -}}
{{ end -}}
EOF
{{ end -}}
